a {
	text-decoration: none;
	color: black;
}
a:hover {
	text-decoration: none;
	color: black;
}
body {
	overflow: hidden;
}
#first-page {
	position: absolute;
	width: 100%;
	height: 100%;
	background: url(../image/summer-car.jpg) no-repeat;
	background-size: cover;
}
/*IMAGEN DE LOGO*/
.logo {
	margin-top: 100%;
}
.logo img {
	width: 100%;
}
#first-page button {
	width: 100%;
	padding-top: 15px;
	padding-bottom: 15px;
	font-size: 30px;
}
.contenedor-botones {
	margin-top: 100px;
}

.btn-login {
	background-color: white;
	border:;
	color: black;
	font-weight: ;
	border-radius: 8px 8px 8px 8px;
}

.btn-singup {
	background: red;  
	background: linear-gradient(to right, #7900BF , #D900BF);
	color: white;
	border-radius: 8px 8px 8px 8px;
}



/*PAGINA SIGN UP*/

.back-button {
	font-size: 20px;
	margin-top: 10px;
	color: black;
}
.back-button:hover {
	color: black;
}
#sign-up-header {
	text-align: center;
	border-bottom: 1px solid black;
	color: black;
	background-color: white; 
}
#sign-up-header h3 {
	margin-top: 10px;
}

.input-group {
	margin-top: 10px;
}
#sign-up-button {
	margin-top: 100px;
}
.btn-next {
	width: 100%;
	background-color: #FF00BF;
	border: 0px solid white;
	padding: 30px;
	font-size: 20px;
	color: white;
}
.btn-next a {
	color: white;
}
#sign-up-number {
	text-align: center;
}
.input-group {
	margin-left: auto;
	margin-right: auto;
}



/*Country selector*/
#country-header {
	border-bottom: 1px solid black;
}

#country-header h3 {
	margin-top: 10px;
	text-align: center;
}
.btn-close{
	margin-top: 15px;
}
.li1 {
	background-color: lightgray;
}


/*Validation*/

#validation-input {
	margin-top: 20px;
	padding: 10px;
}
